---
http_interactions:
- request:
    method: post
    uri: https://sqs.eu-west-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=GetQueueUrl&QueueName=test_usage&Version=2012-11-05
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20180523T072330Z
      X-Amz-Content-Sha256:
      - 5761efd13dd0ed81182207171d3660628968189941431d6044920ef8fe7b1160
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AKIAIXLDUBIDM74CC6KQ/20180523/eu-west-1/sqs/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=73a8f58b16fa5d4348410bfe856dab40d88ef1c220cd2a3bbefa1e6ef4c9a712
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
      X-Amzn-Requestid:
      - e62ff45c-2164-5f55-b5b9-a723384b0fad
    body:
      encoding: UTF-8
      string: <?xml version="1.0"?><GetQueueUrlResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/"><GetQueueUrlResult><QueueUrl>https://sqs.eu-west-1.amazonaws.com/404017989009/test_usage</QueueUrl></GetQueueUrlResult><ResponseMetadata><RequestId>e62ff45c-2164-5f55-b5b9-a723384b0fad</RequestId></ResponseMetadata></GetQueueUrlResponse>
  recorded_at: Wed, 23 May 2018 07:23:30 GMT
- request:
    method: post
    uri: https://sqs.eu-west-1.amazonaws.com/404017989009/test_usage
    body:
      encoding: UTF-8
      string: Action=SendMessage&MessageAttribute.1.Name=report-id&MessageAttribute.1.Value.DataType=String&MessageAttribute.1.Value.StringValue=https%3A%2F%2Fmetrics.stage.datacite.org%2Freports%2F2da4ddef-bb91-42a8-893b-6804b586c693&MessageBody=%7B%22report_id%22%3A%22https%3A%2F%2Fmetrics.stage.datacite.org%2Freports%2F2da4ddef-bb91-42a8-893b-6804b586c693%22%7D&QueueUrl=https%3A%2F%2Fsqs.eu-west-1.amazonaws.com%2F404017989009%2Ftest_usage&Version=2012-11-05
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20180523T072330Z
      X-Amz-Content-Sha256:
      - d6d2665176cbbf1f246777e470cf675a729d09218225bdf8b206e38cdacdb5ae
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AKIAIXLDUBIDM74CC6KQ/20180523/eu-west-1/sqs/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=a11595b2354e5fda6e20d5ea27df4b117ac45d83bec6705770e03ccb4e368d18
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
      X-Amzn-Requestid:
      - 7d47cdbc-1269-5e19-a503-9ec30b467281
    body:
      encoding: UTF-8
      string: <?xml version="1.0"?><SendMessageResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/"><SendMessageResult><MessageId>54b0469c-7cd7-4ed7-86b7-7dde7f6da974</MessageId><MD5OfMessageBody>6661cbbb978bb8a4228c1e4af659057a</MD5OfMessageBody><MD5OfMessageAttributes>b920434b4e1ce033d72afd7b74aa68b5</MD5OfMessageAttributes></SendMessageResult><ResponseMetadata><RequestId>7d47cdbc-1269-5e19-a503-9ec30b467281</RequestId></ResponseMetadata></SendMessageResponse>
  recorded_at: Wed, 23 May 2018 07:23:30 GMT
recorded_with: VCR 3.0.3
