---
http_interactions:
- request:
    method: post
    uri: https://sqs.eu-west-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=GetQueueUrl&QueueName=test_usage&Version=2012-11-05
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20180523T072329Z
      X-Amz-Content-Sha256:
      - 5761efd13dd0ed81182207171d3660628968189941431d6044920ef8fe7b1160
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AKIAIXLDUBIDM74CC6KQ/20180523/eu-west-1/sqs/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=1a5cb6e1fe3852b3f8d36d1d5be5d79db44be6e3d77d6f678ae53224a2654ece
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
      X-Amzn-Requestid:
      - d058ecb7-ca82-5e9b-bf1c-bfc8d3ac2be9
    body:
      encoding: UTF-8
      string: <?xml version="1.0"?><GetQueueUrlResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/"><GetQueueUrlResult><QueueUrl>https://sqs.eu-west-1.amazonaws.com/404017989009/test_usage</QueueUrl></GetQueueUrlResult><ResponseMetadata><RequestId>d058ecb7-ca82-5e9b-bf1c-bfc8d3ac2be9</RequestId></ResponseMetadata></GetQueueUrlResponse>
  recorded_at: Wed, 23 May 2018 07:23:29 GMT
- request:
    method: post
    uri: https://sqs.eu-west-1.amazonaws.com/404017989009/test_usage
    body:
      encoding: UTF-8
      string: Action=SendMessage&MessageAttribute.1.Name=report-id&MessageAttribute.1.Value.DataType=String&MessageAttribute.1.Value.StringValue=https%3A%2F%2Fmetrics.test.datacite.org%2Freports%2F97f19108-842a-44f6-a012-cf99b8938418&MessageBody=%7B%22report_id%22%3A%22https%3A%2F%2Fmetrics.test.datacite.org%2Freports%2F97f19108-842a-44f6-a012-cf99b8938418%22%7D&QueueUrl=https%3A%2F%2Fsqs.eu-west-1.amazonaws.com%2F404017989009%2Ftest_usage&Version=2012-11-05
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20180523T072329Z
      X-Amz-Content-Sha256:
      - 4398f689691f0feeff51e3cff3c6800114d32f04293374e976c5170e4df49618
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AKIAIXLDUBIDM74CC6KQ/20180523/eu-west-1/sqs/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=12a79e03b35d71cf3a7cfe1198994b1e87402bb175439f4d570258f762a084a7
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
      X-Amzn-Requestid:
      - 0b5eb81c-448f-54b2-b9bb-eb635da1600a
    body:
      encoding: UTF-8
      string: <?xml version="1.0"?><SendMessageResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/"><SendMessageResult><MessageId>7eb603f8-1410-4b00-94a0-aaa5589d2356</MessageId><MD5OfMessageBody>e182cb23a93acc44b706511d10b168fb</MD5OfMessageBody><MD5OfMessageAttributes>a3b733aa69ed4fbe5ac17e6ddc9635e9</MD5OfMessageAttributes></SendMessageResult><ResponseMetadata><RequestId>0b5eb81c-448f-54b2-b9bb-eb635da1600a</RequestId></ResponseMetadata></SendMessageResponse>
  recorded_at: Wed, 23 May 2018 07:23:29 GMT
[...]
