---
http_interactions:
- request:
    method: post
    uri: https://sqs.eu-west-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=GetQueueUrl&QueueName=test_usage&Version=2012-11-05
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20180523T072330Z
      X-Amz-Content-Sha256:
      - 5761efd13dd0ed81182207171d3660628968189941431d6044920ef8fe7b1160
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AKIAIXLDUBIDM74CC6KQ/20180523/eu-west-1/sqs/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=73a8f58b16fa5d4348410bfe856dab40d88ef1c220cd2a3bbefa1e6ef4c9a712
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
      X-Amzn-Requestid:
      - 801a8243-1488-5a72-99df-d13c0da776e4
    body:
      encoding: UTF-8
      string: <?xml version="1.0"?><GetQueueUrlResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/"><GetQueueUrlResult><QueueUrl>https://sqs.eu-west-1.amazonaws.com/404017989009/test_usage</QueueUrl></GetQueueUrlResult><ResponseMetadata><RequestId>801a8243-1488-5a72-99df-d13c0da776e4</RequestId></ResponseMetadata></GetQueueUrlResponse>
  recorded_at: Wed, 23 May 2018 07:23:31 GMT
- request:
    method: post
    uri: https://sqs.eu-west-1.amazonaws.com/404017989009/test_usage
    body:
      encoding: UTF-8
      string: Action=SendMessage&MessageAttribute.1.Name=report-id&MessageAttribute.1.Value.DataType=String&MessageAttribute.1.Value.StringValue=https%3A%2F%2Fmetrics.stage.datacite.org%2Freports%2F9756a44c-9da1-4af6-a452-0d21dda96319&MessageBody=%7B%22report_id%22%3A%22https%3A%2F%2Fmetrics.stage.datacite.org%2Freports%2F9756a44c-9da1-4af6-a452-0d21dda96319%22%7D&QueueUrl=https%3A%2F%2Fsqs.eu-west-1.amazonaws.com%2F404017989009%2Ftest_usage&Version=2012-11-05
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20180523T072331Z
      X-Amz-Content-Sha256:
      - 92d4e1b2b99c3f513829c390234d76b69c4101456c42555f71496932f82da7d8
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AKIAIXLDUBIDM74CC6KQ/20180523/eu-west-1/sqs/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=ba9459e27e086b503fa5b87b2aeb8958c0fa757340660f62ac91acb0cadeb862
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
      X-Amzn-Requestid:
      - 05da7a94-957c-517f-95c1-29eb8c4c5275
    body:
      encoding: UTF-8
      string: <?xml version="1.0"?><SendMessageResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/"><SendMessageResult><MessageId>7a605cb6-634d-4374-b07e-10509857349c</MessageId><MD5OfMessageBody>5558d8a39e61f12c65e3fa048f582284</MD5OfMessageBody><MD5OfMessageAttributes>e879887bb61171205a8177235ffbd61c</MD5OfMessageAttributes></SendMessageResult><ResponseMetadata><RequestId>05da7a94-957c-517f-95c1-29eb8c4c5275</RequestId></ResponseMetadata></SendMessageResponse>
  recorded_at: Wed, 23 May 2018 07:23:31 GMT
recorded_with: VCR 3.0.3
